/* Three Green Birds Theme */

 @import "variables";


/*
Global Header
 */
.site-header {

  .custom-header {

    .site-branding {
      background-color: transparent;

      .site-title {

        a {
          color: white;
        }
      }

      .site-description {
        color: white;
      }
    }
  }
}

/*
Global Footer
 */
.footer-widget-area {

  .widget-area {
  }
}
.site-footer {

}

/*
Front Page Only
 */
.home {

    .site-content {

      .front-page-content-area {

      .hentry {
        width: 70%;
        float: left;
      }

      .widget-area {
        background-color: $tertiary-color;
        padding: $padding-10;
      }
    }
  }
}
