/*
child theme variables
 */

/*
Colors
 */
$primary-color:       #789a82;
$secondary-color:     #624428;
$tertiary-color:      #dec696;
$font-color:          #363636;

/*
Tipography
*/
$paraghraph-font:    'Open Sans', sans-serif;
$heading-font:       'Raleway', sans-serif;

/*
Paddings & Margin
 */
$padding-10:         10px;
$padding-20:         20px;
$padding-40:         40px;
